

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
}

/* open*/
.open__card {
    width: 350px;
    padding: 25px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 4px;
    text-align: center;
}
.open__card h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 22px;
}
.open__card p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.open__card button {
    font-size: 15px;
    padding: 10px 25px;
    /* text-transform: uppercase; */
    background-color: #4C6793;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}


/* card */
.card__container {
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #fff;
}
.card__content {
    width: 100%;
    height: 100%;  
    
}

.color-block {
    width: 100%;
    height: 150px;
    
}
.color-wrapper {
    width: 100%;
    height: 100%;
}
.option-wrapper {
    padding: 25px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.col-6 {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.option {
    width: 80%;
    text-align: center;
    padding: 8px 0px; 
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    color: #333;
}

